<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Blog Yangu</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('auth.register_admin')}}">Add Admin</a></li>
                    <li><a href="/new_post">New Post</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.role_id==1%}
                    <li><a href="/new_post">New Post</a></li>
                    <li><a href="{{url_for('auth.register_admin')}}">Add Admin</a></li>
                    {% endif %} {% if current_user.is_authenticated %}
                    <li>
                      <a href="#">{{ current_user.username }}</a>
                    </li>
                    <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
                    {% else %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('auth.login')}}">Sign In</a></li>
                    {% endif %}
                  </ul>
            </div>
        </div>
    </div>