{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
{{ super() }}

<link
    href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Montserrat|Neucha|Noto+Serif+JP|Noto+Serif+KR|Roboto+Mono"
    rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{% endblock %}

{% block content %}
<br><br><br>

<div class="col-md-8">

    <div class="panel">
        <div class="panel-body">
            <div class="col-md-10">
                <div class="text-center">
                    <h1>{{post.title}}</h1>
                    <h4>{{post.posted.strftime('%Y-%m-%d')}}/ <a href="#">{{post.category}}</a></h4>
                </div>

                <p>{{post.post}}</p>

            </div>

        </div>
    </div>
</div>

<div class="col-md-4">


    <div class="panel panel-body" id="commentheader">
        <h1 class="text-center">Comments</h1>
    </div>
    <br><br>
    <div class="panel">
        <div class="panel-body responsive">
            {% for comment in comments %}
            <p>{{comment.comment}}</p>
            <div class="col-md-6">
                <a href="/post/{{post.id}}?delete=1">Delete Comment</i></a>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
</div>


<div id="commentform" class="panel col-md-12">
    <div class="panel-body">
        <h1>Leave a Comment</h1>
        {{wtf.quick_form(comment_form)}}
        {{simplemde.load}}
    </div>
</div>


{% endblock %}