{% extends 'bootstrap/base.html' %}

{% block content %}

<h1>Cancer Screening Service Providers</h1>
<h4>Medanta Africare</h4>
<p>Golden Plaza, Waiyaki Way, Nairobi. Provides cancer screening services.</p>
<h4>Nairobi Pathology & Allied Services, LTD</h4>
<p>Dr. Mutuma G.Z., Consultant Pathologist, Vision Plaza, Mombasa Road, 2nd Floor, Room 37, Nairobi, nairobipathology@hotmail.com, +254 (0) 0722 801 299, +254 (0) 0734 801 299. Provides consultation in histo-cytopathology, forensic and medical legal services, health education, cancer screenings, prevention and control</p>
<h4>Pathologists Lancet Kenya, Ltd.</h4>
<p> 5th Avenue Office Suites, Opp. Traffic HQ – Upper Hill, 5th Ngong Avenue, Ngong Road, +254 (0) 703 061 000, +254 (0) 703 061 000, +254 (0) 20 273 5123, info@lancet.co.ke. Additional locations around Nairobi, plus Eldoret, Garissa, Kibra, Kisumu, Malindi, Mombasa, Nakuru, Nyali, Thika. It is an internationally accredited laboratory that provides cancer screening and diagnostic testing services for all cancers, through tests that are clinically validated.  Tests are done at subsidized rates for public hospital patients and needy cases.</p>
<h4>Path Care Kenya, Ltd.</h4>
<p>Regal Plaza, Limuru Road, Nairobi, +254 (0) 20 375 3416, +254 (0) 20 243 0854,  +254 (0) 20 243 0753, enquiries@pathcarekenya.com.  Provides cancer screening services.</p>


    <h2>Cancer Treatment Providers</h2>

    <p>Cost of cancer treatment varies based on various factors, including level of treatment needed, inpatient vs. outpatient care, public vs. private hospitals, etc.  Consult the institutions directly for cost information.</p>

    <h4>Aga Khan University Hospital</h4>
<p>Limuru Road, Parklands, Nairobi, +254 (0) 20 366 2037/2644, +254 (0) 732 688 911, Provides detection and screening programmes, specialised diagnostics, chemotherapy and radiotherapy treatment, and palliative and rehabilitation programmes.</p>

<h4>Beacon Health Services Cancer Treatment Center</h4>
<p>5th Ngong Avenue, 5th Avenue Building, 3rd Floor, Nairobi, +254 (0) 714 298 000, +254 (0) 736 998 000, Provides cancer diagnosis and out-patient treatment services</p>

<h4>Kenyatta National Hospital</h4>
<p>Hospital Road, Nairobi, +254 20 272 6450. Provides cancer screening, diagnosis, treatment (including chemotherapy, surgery, radiotherapy and palliative care).</p>
<h4>Kijabe Mission Hospital</h4>
<p>P.O. Box 20, Kijabe 00220, +254 (0) 20 324 6500, +254 (0) 733 779 994, info.kh@kijabe.net, mktoff.kh@kijabe.net. Provides screening, chemotherapy and surgery treatment for several cancers – primarily breast cancer, Kaposi’s sarcoma and surgically treatable cervical cancer.  Provides palliative care.</p>

<h4>Mater Hospital</h4>
<p>Along Mukenia & Dunga Road, South B, Nairobi, +254 (0)20 653 1199, +254 (0)733 641 870, inform@materkenya.com. Provides leukemia, breast, cervical and prostate cancer testing services; surgery for malignant tumors; general cancer management services.</p>

<h4> M.P. Shah Hospital/Cancer Care Kenya,</h4>
<p>Shivachi Road, Parklands, Nairobi, 0733 606 752 (MP Shah), +254 20 374 0132 (Cancer Care Kenya), info@mpshahhosp.org (MP Shah), info@cancercarekenya.com (Cancer Care Kenya). Provides diagnosis, chemotherapy and radiotherapy treatments.</p>

<h4>Nairobi Women’s Hospital</h4>
<p>Hurlingham, Nairobi, +254 20 272 6821, info@nwch.co.ke.  Provides gynecologic oncology testing and treatment.  Free breast screenings and fee-based cervical screenings each Thursday, 10am-4pm.</p>

<h4>Moi Teaching and Referral Hospital</h4>
<p>AMPATH Oncology Centre, P.O Box 4606, Code: 30100, Eldoret, plus satellite clinics in: Kitale, Webuye, Busia, Chulaimbo (Kisumu), Mosoriot, Turbo, Iten, +254 704 381 628, +254 721 176 262. Provides cancer education, screening, diagnosis, treatment (including palliative care).</p>

{% endblock%}
